<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact - ANM Staffing</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">    

    <script src="https://kit.fontawesome.com/0de347ad55.js" crossorigin="anonymous"></script>    

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='owlcarousel/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='owlcarousel/owl.theme.default.min.css') }}">

    <link  rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <!-- Header start -->

    <nav id="mainNav" class="site_navbar navbar navbar-expand-lg bg-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/">ANM Staffing</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/employees">Employees</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/employers">Employers</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-primary mt-1" href="/contact">Contact</a>
                </li>
              </ul>
  

          </div>
        </div>
      </nav>    

    <!-- Header end -->      

    <!-- Banner Section start -->

      <section class="site_subheader_section">
          <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center text-white">
                        <h1 class="site_subheader_section_title">Contact</h1>
                    </div>

                </div>
          </div>
      </section>

    <!-- Banner Section end -->

    <!-- Contact start -->

    <section class="site_section_wrapper">

        <div class="container">
  
          <div class="row">
            <div class="col-lg-6 site_contact_content_col">
              <div class="site_section_title_icon mb-4 me-auto ms-0"><i class="far fa-envelope"></i></div>
              <h1 class="site_section_title">Get In Touch</h1>
              <p class="mb-4">Contact us today to learn how we can help you with your hiring needs</p>
              <ul class="site_contact_list site_contact_list_dark list-unstyled">
                <li><i class="fas fa-map-marker-alt" aria-hidden="true"></i> <h6 class="fw-bold">Address</h6>7007 Islington Avenue, Unit 2, Woodbridge, L4L 4T5</li>
                <li><i class="fas fa-phone" aria-hidden="true"></i><h6 class="fw-bold">Phone</h6> 
                    <a href="tel:+19055539505">+1  905 553 9505</a><br> 
                    <a href="tel:+14376887071">+1 437 688 7071</a><br> 
                    <a href="tel:+19055539510">+1 905 553 9510</a>
                </li>
                <li><i class="far fa-envelope" aria-hidden="true"></i><h6 class="fw-bold">Email</h6> <a href="mailto:info@anmstaffing.ca">info@anmstaffing.ca</a></li>
                <li><i class="fa-solid fa-clock"></i> <h6 class="fw-bold">Timings</h6> Monday-Friday: 9am to 6pm</li>
              </ul>              
            </div>
            <div class="col-lg-6 site_contact_form_col">

                
                <form>
                    <div class="mb-3">
                        <label for="" class="form-label">Your Name</label>
                        <input type="text" class="form-control" id="">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Your Email</label>
                        <input type="email" class="form-control" id="">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Subject</label>
                        <input type="text" class="form-control" id="">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Your Message</label>
                        <textarea class="form-control" id="" rows="10"></textarea>
                    </div>                    
                    <div class="">
                        <button class="btn btn-primary">Send Message</button>
                    </div>                    
                </form>
            </div>
  
          </div>
  
        </div>
  
      </section>
  
    <!-- Contact end -->      


    <!-- Contact start -->


        <div class="container-fluid px-0">
  
          <div class="row g-0">
            <div class="col-lg-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2881.377905876686!2d-79.57665028511526!3d43.765013653212236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b3ab1a128da67%3A0x2f1174a64d8315c!2s7007%20Islington%20Ave%2C%20Woodbridge%2C%20ON%20L4L%201V8%2C%20Canada!5e0!3m2!1sen!2s!4v1655400503847!5m2!1sen!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                
            </div>
  
          </div>
  
        </div>
  
  
    <!-- Contact end -->      

 


<!-- Footer Start -->

<footer class="site_footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 mb-4">
              <h5 class="site_footer_title">ANM Staffing </h5>
              <p>ANM Staffing offers excellent service and care as per the market standard, with tailored recruitment packages to suit every unique requirement.</p>
              <ul class="site_footer_social">
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>

          </div>
          <div class="col-lg-4 site_ql_col mb-4">
              <h5 class="site_footer_title">Quick Links </h5>
              <ul class="site_footer_links">
                <li><a href="/about">About</a></li>
                <li><a href="/employees">Employees</a></li>
                <li><a href="/employers">Employers</a></li>
                <li><a href="/contact">Contact</a></li>

            </ul>

          </div>                
          <div class="col-lg-4">
            <h5 class="site_footer_title">Contact Details </h5>
            <ul class="site_contact_list list-unstyled">
              <li><i class="fas fa-map-marker-alt"></i>7007 Islington Avenue, Unit 2, Woodbridge, L4L 4T5</li>
              <li><i class="fas fa-phone"></i><a href="tel:+19055539505">+1  905 553 9505</a></li>
              <li><i class="far fa-envelope"></i><a href="mailto:info@anmstaffing.ca">info@anmstaffing.ca</a></li>
            </ul>            
            
        </div>

      </div>

          <hr class="site_hr">

      <div class="row">
        <div class="col-lg-12 text-center">
          <p class="mb-0">Copyright © 2022 ANM Staffing</p>
        </div>

    </div>
  </div>
</footer>

<!-- Footer end -->


<script src="{{ url_for('static', filename='owlcarousel/owl.carousel.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/script.js')}}"></script>
    
</body>

</html>