<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Employers - ANM Staffing</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">    

    <script src="https://kit.fontawesome.com/0de347ad55.js" crossorigin="anonymous"></script>    

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='owlcarousel/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='owlcarousel/owl.theme.default.min.css') }}">

    <link  rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <!-- Header start -->

    <nav id="mainNav" class="site_navbar navbar navbar-expand-lg bg-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/">ANM Staffing</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/employees">Employees</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/employers">Employers</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-primary mt-1" href="/contact">Contact</a>
                </li>
              </ul>
  

          </div>
        </div>
      </nav>    

    <!-- Header end -->      

    <!-- Banner Section start -->

      <section class="site_subheader_section">
          <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center text-white">
                        <h1 class="site_subheader_section_title">Employers</h1>
                        <p>ANM staffing is a dedicated employment provider that helps its clients succeed by matching their staffing needs with<br> top of their candidates. We have an effective team of individuals with excellent experience in the industry.

                        </p>
                    </div>

                </div>
          </div>
      </section>

    <!-- Banner Section end -->

    <!-- About start -->

    <section class="site_section_wrapper">

        <div class="container">

          <div class="row mb-5">
            <div class="col-lg-12 text-center">
                <div class="site_section_title_icon mb-4"><i class="fa-solid fa-building"></i></div>
                <h1 class="site_section_title">Join us</h1>
                <h4 class="fw-light">Current Openings</h4>
            </div>            
          </div>  

  
          <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="site_job_card card">
                    <div class="card-body">
                      <a href="#" class="card-link ">  
                      <h6 class="card-subtitle mb-1 text-muted">Full time</h6>
                      <h5 class="card-title mb-1"> Moving Minds to Right Place</h5>
                      <p class="card-text">Kitchener Southwest, Canada</p>
                      </a>
                    </div>
                  </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="site_job_card card">
                    <div class="card-body">
                      <a href="#" class="card-link ">  
                      <h6 class="card-subtitle mb-1 text-muted">Full time</h6>
                      <h5 class="card-title mb-1"> Private Client Advisor</h5>
                      <p class="card-text">Kitchener Southwest, Canada</p>
                      </a>
                    </div>
                  </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="site_job_card card">
                    <div class="card-body">
                      <a href="#" class="card-link ">  
                      <h6 class="card-subtitle mb-1 text-muted">Full time</h6>
                      <h5 class="card-title mb-1"> Private Client Advisor</h5>
                      <p class="card-text">Kitchener Southwest, Canada</p>
                      </a>
                    </div>
                  </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="site_job_card card">
                    <div class="card-body">
                      <a href="#" class="card-link ">  
                      <h6 class="card-subtitle mb-1 text-muted">Full time</h6>
                      <h5 class="card-title mb-1"> Private Client Advisor</h5>
                      <p class="card-text">Kitchener Southwest, Canada</p>
                      </a>
                    </div>
                  </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="site_job_card card">
                    <div class="card-body">
                      <a href="#" class="card-link ">  
                      <h6 class="card-subtitle mb-1 text-muted">Full time</h6>
                      <h5 class="card-title mb-1"> Private Client Advisor</h5>
                      <p class="card-text">Kitchener Southwest, Canada</p>
                      </a>
                    </div>
                  </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="site_job_card card">
                    <div class="card-body">
                      <a href="#" class="card-link ">  
                      <h6 class="card-subtitle mb-1 text-muted">Full time</h6>
                      <h5 class="card-title mb-1"> Private Client Advisor</h5>
                      <p class="card-text">Kitchener Southwest, Canada</p>
                      </a>
                    </div>
                  </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="site_job_card card">
                    <div class="card-body">
                      <a href="#" class="card-link ">  
                      <h6 class="card-subtitle mb-1 text-muted">Full time</h6>
                      <h5 class="card-title mb-1"> Private Client Advisor</h5>
                      <p class="card-text">Kitchener Southwest, Canada</p>
                      </a>
                    </div>
                  </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="site_job_card card">
                    <div class="card-body">
                      <a href="#" class="card-link ">  
                      <h6 class="card-subtitle mb-1 text-muted">Full time</h6>
                      <h5 class="card-title mb-1"> Private Client Advisor</h5>
                      <p class="card-text">Kitchener Southwest, Canada</p>
                      </a>
                    </div>
                  </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="site_job_card card">
                    <div class="card-body">
                      <a href="#" class="card-link ">  
                      <h6 class="card-subtitle mb-1 text-muted">Full time</h6>
                      <h5 class="card-title mb-1"> Private Client Advisor</h5>
                      <p class="card-text">Kitchener Southwest, Canada</p>
                      </a>
                    </div>
                  </div>
            </div>
            
        </div>
  
      </section>
  
    <!-- About end -->      



  

<!-- Contact start -->

    <section class="site_section_wrapper site_section_contact">

    <div class="container">

      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="site_section_title_icon mb-4 me-auto"><i class="fa-solid fa-envelope"></i></div>
          <h1 class="site_section_title mb-5 text-center text-white">Keep In Touch</h1>
          <a href="/contact" class="btn btn-light">Contact Us</a>
        </div>
      </div>  

      </div>

    </div>

    </section>

<!-- Contact end -->    


<!-- Footer Start -->

<footer class="site_footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 mb-4">
              <h5 class="site_footer_title">ANM Staffing </h5>
              <p>ANM Staffing offers excellent service and care as per the market standard, with tailored recruitment packages to suit every unique requirement.</p>
              <ul class="site_footer_social">
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>

          </div>
          <div class="col-lg-4 site_ql_col mb-4">
              <h5 class="site_footer_title">Quick Links </h5>
              <ul class="site_footer_links">
                <li><a href="/about">About</a></li>
                <li><a href="/employees">Employees</a></li>
                <li><a href="/employers">Employers</a></li>
                <li><a href="/contact">Contact</a></li>

            </ul>

          </div>                
          <div class="col-lg-4">
            <h5 class="site_footer_title">Contact Details </h5>
            <ul class="site_contact_list list-unstyled">
              <li><i class="fas fa-map-marker-alt"></i>7007 Islington Avenue, Unit 2, Woodbridge, L4L 4T5</li>
              <li><i class="fas fa-phone"></i><a href="tel:+19055539505">+1  905 553 9505</a></li>
              <li><i class="far fa-envelope"></i><a href="mailto:info@anmstaffing.ca">info@anmstaffing.ca</a></li>
            </ul>            
            
        </div>

      </div>

          <hr class="site_hr">

      <div class="row">
        <div class="col-lg-12 text-center">
          <p class="mb-0">Copyright © 2022 ANM Staffing</p>
        </div>

    </div>
  </div>
</footer>

<!-- Footer end -->


<script src="{{ url_for('static', filename='owlcarousel/owl.carousel.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/script.js')}}"></script>
    
</body>

</html>